body {
  text-align: center;
  background-color: darkslategray;
  overflow-x: hidden;
}
h1,
p,
a,
div {
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  display: inline-block;
  text-align: center;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  padding-left: 8px;
  text-align: center;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}
#navbar {
  background-color: black;
  text-align: left;
  margin: -10px;
  width: auto;
  overflow: hidden;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: left;
  padding-right: 20px;
}
#main-heading {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#topgg-link {
  font-style: italic;
}
#disclaimer {
  text-align: center;
  font-size: 12px;
}
