body {
	background-color: #121212;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	text-align: center;
}
a:visited {
	color: whitesmoke;
}
.div-content {
	text-align: center;
}
.div-content-info {
	position: relative;
	left: 25%;
	width: 50%;
	text-align: center;
	padding: 5px;
	border-radius: 20px;
	margin: 10px 0px 10px 0px;
}
.navbar-content {
	padding-left: 6px;
	display: inline;
}
#navbar {
	margin: -10px 0px 0px -3px;
	width: 100%;
	background-color: #444444;
	border-radius: 10px;
}
#navbar-list {
	padding: 10px 6px 10px 6px;
	list-style-type: none;
}
