body,
div,
a {
  background-color: darkslategray;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  overflow-x: hidden;
}
div,
a {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
table,
td,
th {
  border: 1px solid white;
  padding-left: 6px;
  padding-right: 6px;
}
table {
  border-collapse: collapse;
  border: 1px solid whitesmoke;
  width: 50%;
  position: relative;
  left: 25%;
}
#navbar-div {
  text-align: left;
}
#disclaimer {
  color: rgba(199, 199, 199, 0.5);
}
#navbar {
  background-color: black;
  text-align: left;
  margin: -10px;
  width: auto;
  overflow: hidden;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: left;
  padding-right: 20px;
}
